[Unit]
Description=Space Weather MQTT timer

[Timer]
OnCalendar=hourly
Persistent=true
Unit=space-weather-mqtt.service

[Install]
WantedBy=timers.target